body {
  margin: 0px;
  padding: 0px;
  background: #1e1e1e;
}

canvas {
  position: absolute;
  border: 1px solid #ffffff55;
  z-index: 1000;
}

#container {
  padding: 50px;
}

#console {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #1e1e1e;
  padding: 10px;
  top: 200px;
  left: 100px;
  z-index: 1010;
}

#console .input, #console .output {
  background: #ffffff55;
  border: 1px solid #ffffff55;
}

#console .input {
  padding: 10px;
  margin: 0px;
  width: 282px;
  font-size: 22px;
}

#console .output {
  padding: 10px;
  margin: 0px;
  width: 282px;
  height: 180px;
  border-top: 0px;
  font-size: 20px;
  resize: none;
}